/**
 * Селекторы атрибутов
 */

/* Наличие атрибута */
[href] {
  color: red;
}

/* href === '#' */
[href='#'] {
  color: red;
}

/* href содержит '#' */
[href*='#'] {
  color: red;
}

/* Links with "insensitive" anywhere in the URL,
   regardless of capitalization */
a[href*="insensitive" i] {
  color: cyan;
}

/* Links with "cAsE" anywhere in the URL,
with matching capitalization */
a[href*="cAsE" s] {
  color: pink;
}

/* Содержит в начале */
[href^='https://'] {
  color: red;
}

/* Содержит в конце */
[href$='ya.ru'] {
  color: red;
}

/**
 * Динамические Псевдоклассы
 */

/* Все ссылки */
a:link {}

a:active {}
a:focus {}
form:focus-within {} /* Фокус на элементе или на любом его потомке */
a:visited {}

:enabled {} /* Доступен для взаимодействия */
:disabled {} /* Недоступен */

:checked {} /* Есть атрибут checked */
:indeterminate {} /* Выбраны не все пункты вложенного списка, делается через JS */

:read-only {} /* Есть атрибут readonly */
:valid {}


/**
 * Структурные Псевдоклассы -- в зависимости от положения в структуре HTML-документа
 */

/* Корневой элемент */
/* In HTML, :root represents the <html> element and is identical
to the selector html, except that its specificity is higher. */
:root {}

:first-child {};
:last-child {};

:nth-child; /* С начала */
:nth-child(-n+3) /* the first three elements: [=-0+3, -1+3, -2+3] */
/* the 8th through the 15th <p> elements of a group of siblings */
p:nth-child(n+8):nth-child(-n+15)

:nth-last-child; /* С конца */
/* n = 0 ... Infinity */
:nth-child(2n+1); /* Нечетные дети */

/* Предварительно сгруппировав по типу */
p:nth-of-type(4n) /* Каждый четвертый элемент p */
:nth-last-of-type(-n+4)

/* Уникальные дети: an element without any siblings. */
:only-child;
:only-of-type;

:empty /* Элемент не содердит никакого контента = пустой */


/**
 * Псевдоэлементы -- их не видно в структуре документа -- несуществующие на странице
 * элементы.
 */

::first-letter; /* Первая буква */
::first-line /* Первая строка */

/**
 * <div>::before Hey! Ho! ::after</div>
 */
/* Пример */
::before,
::after {
  color: red;
  font-weight: bold;
  content: '>>';
}
::before { content: '<<' };

/**
 * Отношения - Combinators
 */

div div {} /* Потомок */
div >> div {} /* Потомок. Планируется в CSS Selectors Level 4 */

div > div {} /* Сын */

div + div {} /* Брат (следующий по списку) */
div ~ div {} /* Братья (все следующие) */

/**
 * Отрицание
 */
li:not(:first-child)
li:first-child ~ li /* Эквивалентный селектор */

/* Elements that are not <div> or <span> elements */
body :not(div):not(span) {
  font-weight: bold;
}